/* navbar-transparent.css */

.navbar {
  background-color: transparent !important; /* Set background color to transparent */
  border-bottom: none; /* Remove any borders if necessary */
  padding:10px;
}

.navbar-toggler-icon {
  background-color: #fff; /* Set the color of the toggler icon */
}
.navbar-brand,
  .navbar-nav {
    display: flex;
    align-items: center;
  }

.nav-link {
  color: #fff; /* Set the color of the navbar links */
}
.nav-item {
  margin-right: 25px;
  color: grey;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo{
  height: 70px;
  width: 70px;
  margin-right:1075px;
}
.nav-link:hover {
  color: grey; /* Change the color to blue on hover */
}